---
import BorderedTitle from "../components/BorderedTitle.astro";
import ContactApp from "../components/ContactApp";
import Layout from "../layouts/Layout.astro";

---

<Layout>
    <section class="section-sm">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <BorderedTitle title="Talk To Me Anytime :)" />
                </div>

                <div class="column md-6">
                    <div class="content mb-5">
                        <h1 id="ask-us-anything-br-or-just-say-hi">Ask Me Anything <br> Or just Say Hi,</h1>
                       
                        

                    </div>
                </div>

                <div class="column md-6">
                    <ContactApp client:load />
                </div>

            </div>
        </div>
    </section>
</Layout>