---
export interface Props {
    name: string
    count?: number
    url: string
}

const { name, count, url } = Astro.props

---

<a href={url?.toLowerCase()} class="is-flex">
    {name}
    <small class="ml-auto">({count})</small>
</a>