---

---

<!-- navigation -->
<header class="is-sticky-top bg-white border-bottom border-default">
  <div class="container">

     <nav class="navigation navbar is-white">
        <a class="navbar-brand is-inline-flex ml-0 is-align-items-center" href="/">
           <img src="/images/logo-sm.png" alt="logo">
           <h4 class="ml-3">De la Cruz Home</h3>
        </a>
        <button role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
           <span aria-hidden="true"></span>
           <span aria-hidden="true"></span>
           <span aria-hidden="true"></span>
        </button>

        <ul class="navbar-end navbar-menu" id="navigation">
           <li class="navbar-item has-dropdown is-hoverable has-active">
              <a class="navbar-link" href="/" >Home </a>
             
           </li>
               
           <li class="navbar-item">
              <a class="navbar-link is-arrowless" href="/about">About</a>
           </li>
               
           <li class="navbar-item">
              <a class="navbar-link is-arrowless" href="/contact">Contact</a>
           </li>
        </ul>
     </nav>
  </div>
</header>
<!-- /navigation -->