---
export interface Props {
   tags: Array<{name: string, url: string}>
}

const { tags } = Astro.props

---

<!-- tags -->
<div class="widget">
    <h5 class="widget-title"><span>Tags</span></h5>
    <ul class="list-inline widget-list-inline">
      { tags && tags.map(tag => (<li class="list-inline-item">
         <a href={tag.url?.toLocaleLowerCase()}>{tag.name?.toLowerCase()}</a>
      </li>)) }
    </ul>
 </div>